body {
  background-color: #131926;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2em;
  padding-bottom: .5em;
}
li {
  list-style-type: none;
  cursor: pointer;
}

.blocked {
  color: #658CC0;
  pointer-events: none;
}
.col-sm {
  align-content: center;
  text-align: center;
  border-radius: .5em;
  margin: .5em;
  padding: .5em;
}
.droptrue {
  min-height: 2em;
}
.fas {
  position: absolute;
  top: 50%;
  right: 0%;
  font-size: 2em;
}
.form {
  padding: .5em;
}
.item {
  background-color: #295FA8;
  margin-bottom: .25em;
  border-radius: 5em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}
.item:hover {
  background-color: #a5d8ff;
  color: #000;
}
.next {
  text-align: right;
  vertical-align: middle;
}
.next img {
  height: 3em;
  float: right;
}
.row .tall {
  height: 100%;
}
